**Pandas is a Python library providing data structures and data analysis tools. **
**Benefits**:
1.   Efficient storage and processing of data.
2.   Includes many built in functions for data transformation,       aggregations.

In [ ]:
import pandas

In [ ]:
import pandas as pd

 **Core components of pandas:**

1.   Pandas Series
2.   Pandas DataFrames

**Pandas Series are one dimensional**

In [ ]:
s=pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [ ]:
a=pd.Series(['a','b','c'],index=[1,2,3])
a

1    a
2    b
3    c
dtype: object

In [ ]:
w=pd.Series(['c','c++','java','python'],index=[100,101,102,103])
w

100         c
101       c++
102      java
103    python
dtype: object

**Pandas DataFrames are a set of Pandas Series**

In [ ]:

df=pd.DataFrame([[1,2,3],[4,5,6]],columns=['a','b','c'],index=['foo','laa'])
df

     a  b  c
foo  1  2  3
laa  4  5  6

In [ ]:
t=pd.DataFrame([['debit','credit','nothing'],['aa','bb','cc'],['ee','uu','kkk']],columns=[1,2,3],index=['2015','2016','55'])
t

          1       2        3
2015  debit  credit  nothing
2016     aa      bb       cc
55       ee      uu      kkk

**To select just one column, use brackets**

In [ ]:
df['a']

foo    1
laa    4
Name: a, dtype: int64

In [ ]:
df.a

foo    1
laa    4
Name: a, dtype: int64

**To select one row, use .loc[]**

In [ ]:
t.loc['2015']

1      debit
2     credit
3    nothing
Name: 2015, dtype: object

**Selecting multiple columns**

In [ ]:
df[['a','b']]

     a  b
foo  1  2
laa  4  5

**Column operations**

In [ ]:
df['a']+ df['b']

foo    3
laa    9
dtype: int64